# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/
docs/build/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Other
GMT211_calculator/
GMT211_paketleme_tutorial.pdf
PNG image.jpeg 